In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.datasets import load_boston
df=load_boston()
print(df.keys())
print(df['feature_names'])

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [2]:
boston= pd.DataFrame(df.data,columns=df.feature_names)
boston.head()
boston['VAL']=df.target
boston.head(10)

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT   VAL
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
5  0.02985   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.12   5.21  28.7
6  0.08829  12.5   7.87   0.0  0.524  ...  311.0     15.2  395.60  12.43  22.9
7  0.14455  12.5   7.87   0.0  0.524  ...  311.0     15.2  396.90  19.15  27.1
8  0.21124  12.5   7.87   0.0  0.524  ...  311.0     15.2  386.63  29.93  16.5
9  0.17004  12.5   7.87   0.0  0.524  ...  311.0     15.2  386.71  17.10  18.9

[10 rows x 14 columns]

In [3]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT    VAL
0    False  False  False  False  False  ...  False    False  False  False  False
1    False  False  False  False  False  ...  False    False  False  False  False
2    False  False  False  False  False  ...  False    False  False  False  False
3    False  False  False  False  False  ...  False    False  False  False  False
4    False  False  False  False  False  ...  False    False  False  False  False
..     ...    ...    ...    ...    ...  ...    ...      ...    ...    ...    ...
501  False  False  False  False  False  ...  False    False  False  False  False
502  False  False  False  False  False  ...  False    False  False  False  False
503  False  False  False  False  False  ...  False    False  False  False  False
504  False  False  False  False  False  ...  False    False  False  False  False
505  False  False  False  False  False  ...  False    False  False  False  False

[506 rows x 14 columns]

In [4]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
VAL        0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
X= boston.drop('VAL',axis=1)
Y=boston['VAL']
X.head()
Y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: VAL, dtype: float64

In [6]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=5)
print("The size of the datasets is")
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

The size of the datasets is
(430, 13)
(430,)
(76, 13)
(76,)

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
linmodel=LinearRegression()
linmodel.fit(X_train,Y_train)
#test for training data
Y_train_predict=linmodel.predict(X_train)
rmse=np.sqrt(mean_squared_error(Y_train,Y_train_predict))
print("The model performance for traing set is")
print("Rmse={}".format(rmse))
#test for testing data
Y_test_predict=linmodel.predict(X_test)
rmse=np.sqrt(mean_squared_error(Y_test,Y_test_predict))
print("The model performance on testing set is")
print("Rmse={}".format(rmse))

The model performance for traing set is
Rmse=4.710901797319796
The model performance on testing set is
Rmse=4.687543527902972